body{
    background-color: #f4f4f2;
}
.header{
    position:fixed;
    margin:auto;
    left:0; 
    right:0; 
    top:0; 
    width:1280px; 
    height:30px;
    background-color: #f4f4f2;
    padding:20px 0 30px;
}
.battery em{
   font-size: 18px;
   position: relative;
   bottom: 5px;
}
.header .battery,.header .form{
    float: left;
}
.header .form{
    margin-left:170px;
}
.header .form input.text{
    width:773px;
    height: 30px;
    padding-left: 10px;
    background-color: #fff;
    border:1px solid #e5e5e3;
}
.header .form input.btn{
    position: relative;
    right: 4px;
    width:32px;
    height:32px;
    background-color: #0079d9;
    border:none;
    background-image: url(../images/search.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position:5px 5px;
}
.wrap{
    width:1280px;
    margin:100px auto 0;
}
.title{
    width:1280px;
    margin:0 auto;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.box{
    margin:40px auto 0;
    overflow: hidden;
}
.box .type{
    width: 300px;
    height: 180px;
    background-color: #fff;
    overflow: hidden;
    padding:20px;
}
.box .type h1{
    font-size:18px;
    padding:0 0 20px 0;
   
    border-bottom:2px solid #e5e5e3;
}
.box .type a{
    display:inline-block;
    *display: block;
    *zoom:1;
    width:96px;
    font-size: 14px;
    color:#333;
    padding:18px 0;
    margin-right:1px;
}
.box .type{
    float: left;
    margin-right:86px;
    margin-bottom: 25px;
}
.flooter{
    width:203px;
}
.logo{
    width: 300px;
    float: left;
    position: relative;
    top:60px;
}
.more{
float: right;
}
.more a{
    display:inline-block;
    *display: block;
    *zoom:1;
    font-size: 16px;
    color: #333;
    line-height: 1.8em;

}
